html {
  font-family: "Lora", "Lucida Bright", "Lucidabright", "Lucida Serif", Lucida, Georgia, serif;
  font-size: 1.11111rem;
  -webkit-text-size-adjust: 100%;
  text-rendering:optimizeLegibility;
  color: #2c343c;
  line-height: 1.66667;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}